body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#timer-display {
    margin: 20px 0;
    font-size: 48px;
}

#buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#session-count {
    margin-top: 20px;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: #333;
    color: white;
}
